/* apply a natural box layout model to all elements, but allowing components to change. Esto es para que si yo agreggo padding el tamaño del objeto no se vea afectado sino que incluya ese padding dentro del tamaño */
html {
    box-sizing: border-box;
    /*esto es para que 1 rem =10px */
    font-size: 62.5%; /*1rem = 10px recordemos que los rems son mejores para el movil*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
/*GLOBALES*/
.contenedor {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    font-family: "PT Sans", sans-serif;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
    line-height: 1.2;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    /*para que imagenes se adapten en su contenedor*/
    max-width: 100%;
}

/*UTILIDADES*/
.no-margin {
    margin: 0;
}

/*HEADER*/
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.site-header {
    background-image: url('../img/hamburguesa.jpg');
    /*para que no se repita*/
    background-repeat: no-repeat;
    /*para que veamos desde el centro centro*/
    background-position: center center;
    /*para que se vea toda la imagen, se llene tanto altura como ancho*/
    background-size: cover;
    /*aumentamos height*/
    height: 30rem;
}

    .site-header a {
        color: white;
        text-decoration: none;
    }

    .site-header h1 {
        text-align: center;
        font-weight: 400;
    }

    .site-header span {
        font-weight: 700;
    }

/*CONTENIDO PRINCIPAL HOME*/
.contenido-principal {
    display: flex;
    /*Para quitar el scroll*/
    flex-wrap: wrap;
}

.inicio,
.pedido {
    /* se puede poner asi con grow, shrink, basis
    flex: 0 0 100%
    */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
}

.pedido {
    order: -1;
}

@media (min-width: 768px) {
    .contenido-principal {
        justify-content: space-between;
    }

    .inicio {
        flex-basis: 66.6%;
        order: -1;
    }

    .pedido {
        flex-basis: calc(33.3% - 4rem);
    }
}

/*pedido */
.pedido-lista {
    padding: 0;
    list-style: none;
}

.pedidos {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #e1e1e1;
}

    .pedidos:last-of-type {
        border-bottom: none;
    }

/*FOOTER*/

.site-footer {
    background-color: #000000;
    padding: 3rem;
    margin-top: 3rem;
}

    .site-footer p {
        color: white;
        font-size: 3rem;
        font-weight: 300;
        font-family: "PT Sans", sans-serif;
        text-align: center;
    }

        .site-footer p span {
            font-weight: 700;
        }
.containerProducto {
    display: grid;
    justify-items: center;
    align-items: center;
}

.contentProducto {
    padding: 3em;
    background-color: #484141;
    color: #e5e5e5;
    margin-top: 3rem;
    height: 475px;
    width: 650px;
    justify-items: center;
}

    .contentProducto > h2 {
        font-family: "Raleway", sans-serif;
        letter-spacing: 5px;
        font-size: 16px;
    }

.lstUsuarios {
    height: 250px;
}

.tblUsuarios {
    float: left;
}

table.tableBodyScroll tbody {
    display: block;
    max-height: 300px;
    overflow-y: scroll;
}

    table.tableBodyScroll thead, table.tableBodyScroll tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

    .products-container ion-icon {
        font-size: 25px;
        color: blue;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
    }

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title {
    width: 35%;
}

.price {
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
    align-items: center;
}

.product2 {
    width: 35%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid lightgray;
    align-items: flex-start;
}

    .product2 ion-icon {
        cursor: pointer;
    }

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

    .products img {
        width: 75px;
    }

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTile {
    width: 30%;
}

.basketTotal {
    width: 10%;
    
}
